* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e3d9b1;
}
.container {
  margin-top: 4rem;
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
